
.navbar{
    width: auto;
    margin: 20px 20px 60px 20px;
    padding: 15px;
    background-color: #161d2f;
    border-radius: 15px;
    display: flex;
    align-items: center;
}
#navbarNav{
    justify-content: center;
    background-color: #161d2f;
    z-index: 1;
}
.logo{
    width: 60px;
    margin: 0;
}
i{
    color: #5a698f;
    transform: 0.2s;
}
ul{
    padding: 0;
}
.nav-item{
    margin: 0 20px;
    font-weight: 800;
    cursor: pointer;
}
.nav-item i{
    transition: 0.2s;
}
a{
    text-decoration: none;
    color: #5a698f;
    transition: 0.2s;
}
.nav-item:hover a,
.nav-item:hover i{
    color: #fc4747;
    transition: 0.2s;
    
}
.active, 
.active i{
    color: #fc4747;
} 

@media screen and (max-width: 992px) {
    .navbar{
        justify-content: space-between !important;
    }
    .navbar-brand{
        position: static;
    }
    ul{
        padding-top: 10px;
        margin-left: -11px;
    }
}

@media screen and (max-width: 768px) {
    .navbar{
        margin: 20px 20px 40px 20px;
    }
}

@media screen and (max-width: 576px) {
    .navbar{
        margin: 0 0 40px 0;
        border-radius: 0;
    }
}